<!DOCTYPE html>
<html>
<head>
    <script src="../../javascript/packs/date.js"></script>
</head>
<body>
    <div class = "item">
        <div class ="container-block">
            <h1>Departments <span id='date'></span></h1>
            <div class="main">                                
                <div class = "department1 item">
                    <a>งานถอนขนไก่</a>
                    <button onclick="location.href= '/departments/1'">details</button>
                </div>
                <div class = "department2 item">
                    <a>งานเชือดไก่</a>
                    <button onclick="location.href= '/departments/2'">details</button>
                </div>
                <div class = "department3 item">
                    <a>งานไก่ตกราว</a>
                    <button onclick="location.href= '/departments/3'">details</button>
                </div>
                <div class = "department4 item">
                    <a>งานจัดเก็บและจ่ายสินค้าแช่แข็ง</a>
                    <button onclick="location.href= '/departments/4'">details</button>
                </div>
            </div>
        <div>
    </div>
</body>
</html>