<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class = "item">
        <div class ="container-block">
            <h1>Departments <span id='date'></span></h1>
            <div class="main">                                
                <div class = "department">
                    <a>งานถอนขนไก่</a>
                    <p>Shift Amount: N/A<br>
                    Manager: N/A<br>
                    Employee Amount: N/A</p>
                    <%= link_to '<button>details</button>'.html_safe,  department_path(1)%>
                </div>
                <div class="space"></div>
                <div class = "department">
                    <a>งานเชือดไก่</a>
                    <p>Shift Amount: N/A<br>
                    Manager: N/A<br>
                    Employee Amount: N/A</p>
                    <%= link_to '<button>details</button>'.html_safe,  department_path(2)%>
                </div>
                <div class = "department">
                    <a>งานไก่ตกราว</a>
                    <p>Shift Amount: N/A<br>
                    Manager: N/A<br>
                    Employee Amount: N/A</p>
                    <%= link_to '<button>details</button>'.html_safe,  department_path(3)%>
                </div>
                <div class="space"></div>
                <div class = "department">
                    <a>งานจัดเก็บและจ่ายสินค้าแช่แข็ง</a>
                    <p>Shift Amount: N/A<br>
                    Manager: N/A<br>
                    Employee Amount: N/A</p>
                    <%= link_to '<button>details</button>'.html_safe,  department_path(4)%>
                </div>
            </div>
        <div>
    </div>
</body>
</html>