 <h1>================================</h1><br>
<h1> Im partial shifts : my shift is<br> 
<h1>ID:<%= shift.id %></h1><br>
<h1>check_in:<%= shift.check_in %></h1><br>
<h1>check_out:<%= shift.check_out %></h1><br>
<h1>overtime:<%= shift.overtime %></h1><br>
 <h1>================================</h1><br>
