
.top{
    margin-top: 20px;
    font-size: 2em;
}
.top button{
    padding: 6px 10px 6px 10px;
    float: right;
    margin-top: 8px;
    margin-right: 10px;
}
.top .plan:hover{
    transform: scale(1.15, 1.15);
    background-color: #56e686;
    border: 2px solid #467fb9;
}
.top .actual:hover{
    transform: scale(1.15, 1.15);
    background-color: #e65656;
    border: 2px solid #467fb9;
}
.container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container table, .container td, .container th {
    border: 2px solid rgb(255, 175, 71);
}
.container table{
    flex-basis: 70%;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    background-color: #eefdfc;
}
.content-right{
    align-content: flex-end;
    display: flex;
    flex-direction: column;
}
.OT{
    margin-top: 20px;
}
.OT a{
    font-size: 2em;
}
.OT .manageOT{
    border: 2px solid rgb(255, 175, 71);
    background-color: #eefdfc;
}
.OT .manageOT input{
    margin: 10px;
    width: 90%;
}
.OT .manageOT button{
    margin: 0 0 10px 10px;
    width: 44%;
}
