
.top{
    margin-top: 20px;
    font-size: 2em;
}
.top button{
    padding: 6px;
    float: right;
    margin-top: 8px;
    margin-right: 10px;
}
.top .add-shift:hover{
    background-color: #56e686;
    border: 2px solid #467fb9;
}
.top .remove-shift:hover{
    background-color: #e65656;
    border: 2px solid #467fb9;
}
table, td, th {
    border: 2px solid rgb(255, 175, 71);
}
table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    background-color: #eefdfc;
}

.show{
    margin: 0 10% 0 10% ; 
} 
